@(names: List[String], message: String) @main("Welcome Admin") {

@if(!message.isEmpty())
{
	<script type="text/javascript"
		Materialize.toast(message, 3000, 'rounded')
	</script>
}

<div class="row">
	<div class="col s3 offset-s3">
		<div class="card blue-grey darken-1">
			<form method="post" action="/admin/collect">
				<div class="card-content white-text">
					<span class="card-title">Collect payment</span> <input
						placeholder="Amount" id="amount" type="number" name="balance"
						class="validate"> <select name="name">
						<option value="" disabled selected>Member Name</option>
						@for(name <- names){
						<option value=@name>@name</option>
						
						}
					</select>

				</div>
				<div class="card-action">
					<button class="btn waves-effect blue-grey" type="submit"
						name="action">
						Submit <i class="material-icons right"></i>
					</button>
				</div>
			</form>
		</div>
	</div>
	<div class="col s3">
		<div class="card blue-grey darken-1">
			<form method="post" action="/admin/round">
				<div class="card-content white-text">
					<span class="card-title">Add Round</span> <select
						name="round">
						<option value="" disabled selected>Round</option>
						<option value="Wedding">Wedding</option>
						<option value="Birthday">Birthday</option>
						<option value="Farewell">Farewell</option>
					</select>

				</div>
				<div class="card-action">
					<button class="btn waves-effect blue-grey" type="submit"
						name="action">
						Add <i class="material-icons right"></i>
					</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="row">
	<div class="col s3 offset-s3">
		<div class="card blue-grey darken-1">
			<form method="post" action="/admin/expense">
			<div class="card-content white-text">
				<span class="card-title">Register an expense</span>
				<input
						placeholder="Amount" id="amount" type="number" name="contribution"
						class="validate">
				<input
						placeholder="Description" id="desc" type="text" name="name"
						class="validate">
				<input
						 id="round" type="text" name="round" value="EXPENSE" hidden="true"
						class="validate">
			</div>
			<div class="card-action">
					<button class="btn waves-effect blue-grey" type="submit"
						name="action">
						Add Expense <i class="material-icons right"></i>
					</button>
				</div>
			</form>
		</div>
	</div>
	<div class="col s3">
		<div class="card blue-grey darken-1">
			<div class="card-content white-text">
				<span class="card-title">Coming Soon</span>
				<p>This card will be used to send email reminders for events, clearing dues, etc</p>
			</div>
			<div class="card-action">
				<a href="#"></a> <a href="#"></a>
			</div>
		</div>
	</div>
</div>

}
