@(message: String) @main("Welcome Admin") {

<div class="col s12 vcard-panel hoverable"
	style="position:absolute; left: 25%; top: 25%; width:40%; height:40%">

	<div class="row">
		<div class="col s6 offset-s4">
			<h3>Admin Login</h3>
		</div>
	</div>

	<form class="col s12" method="post"
		action="@routes.Authentication.authenticate()">

		<div class="row">
			<div class="input-field col s8 offset-s2">
				<p class="center">
				<input id="pass" name="pass" type="password" class="validate" placeholder="Password"> <label
					for="pass"></label>
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col s4 offset-s4">
				<p class="center">
					<button class="btn btn-large waves-effect waves-light"
						type="submit" name="action">Login</button>
				</p>
			</div>
		</div>
	</form>
	
</div>

}
